body {
  background : #fbfffe;
  color : #000;
  font-size: 100%;
  margin: 0 auto;
  padding: 0.4em 0.4em 0.4em 0.6em;
  max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.8em 0 0.2em 0;
  font-weight: normal;
  font-family : Calibri, Helvetica, Arial, sans-serif;
  color : #000;
  background: url('/images/80ff7627.png');
}

h1 {
  margin-top: 0.2em;
  text-align : center;
}

h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
  margin-top: 0.2em;
}

h1 {
  font-size: 170%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 115%;
}
h5 {
  font-size: 110%;
}
h6 {
  font-size: 100%;
}

ul li {
  margin-bottom: 0.3em;
  margin-top: 0.3em
}

ol li {
  margin-bottom: 0.3em
}

ul ul, ol ol {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.25em;
}

ul, ol {
  margin-top: 0.15em;
  margin-bottom: 1em
}

p {
  margin: 0.3em 0 1.1em 0;
}

p.warning {
  font-size: 105%;
  background: white;
  color: #600;
  border: solid red 0.04em;
  padding: 0.4ex;
}

ul {
  margin-top: 0.4em;
  padding-top: 0;
}

ul, ol {
  margin-left: 1.5em;
  padding-left: 0;
}

li {
  margin-left: 0;
  padding-left: 0;
}

pre {
  background: #F0FFFF;
  color: black;
  overflow-x: auto;
  white-space : pre;
}

